.container {
    width: 100vw;
    height:auto;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 25;
    overflow: hidden;
  }