.popmenuContainer {
    height: fit-content;
    align-self: flex-start;
    flex-direction: column;
    display: flex;
    position: relative;
}

.popmenuContainer > * {
    flex-basis: 100%;
}

.popList {
    position: relative;
    display: flex;
    flex-basis: 100%;
    list-style: none;
    flex-direction: column;
    padding: 0;
    margin: 0;
    padding-top: 1em; 
}

.menuList {
    background-color: black;
    height: auto;
    margin: 0;
    padding: 0;
    flex-basis: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-self: center;
    border: 2px solid whitesmoke;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}

.menuList > * {
    flex-basis: 15%;
    margin: 7.5px;
    text-align: center;
}

.activeMenuItem {
    background-color: whitesmoke;
    color: black; 
}

.menuItem {
    background-color: black;
    color: whitesmoke;
}


.popList > * {
    flex-basis: 100%;
    text-align: flex-start;
    flex-basis: 100%;
    align-self: center;
    margin: 5px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    transition: 1200ms;
}

.placeContainer {
    flex-basis: 100%;
    display: flex;
    transition: 1200ms;
    justify-self: center;
}

.popListItem {
    
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: black;
    color: whitesmoke;
}

.popListItem > * {
    flex-direction: column;
}

.itemName {
    display: flex;
    margin: 5px;
    flex-basis: 70%;
    font-weight: bolder;
}

.itemLocation {
    font-size: .75rem;
    font-style: italic;
    font-weight: lighter;
    flex-basis: 25%;
}

.itemImage {
    border-radius: 50%;
    height: 80px;
    width: 80px;
    justify-self: flex-start;
    padding: 10px;
}

.itemDescriptionHidden {
    overflow-y: hidden;
    overflow-x: hidden;
    max-width: 65ch;
    text-align: flex-start;
    height: 0px;
}

.itemDescriptionShow {
    transition: 1000ms;
    height: fit-content;
    text-align: flex-start;
    max-width: 75ch;
}

.descButton {
    height: fit-content;
    margin-left: 20px;
    align-self: flex-end;
    justify-self: flex-end;
}